* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
.comment-section {
  margin-left: 10px;
}

.comment-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: row; */
}
.top {
  display: flex;
}
.top span {
  color: #969696;
  margin-left: 20px;
}
